body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

main {
  padding: 20px;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.chart-container > .chart:nth-child(3) {
  grid-column: span 2;
}

.chart {
  border: 1px solid #e0e0e0;
  background-color: #f7f7f7; /* Light grey background */
  padding: 20px; /* Add padding for better spacing */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
}

.card:nth-of-type(1) .chart:nth-child(3) {
  max-width: 60%;
  margin: 0 auto; /* Center the chart */
}

/* Specific styles for charts in the second card */
.card:nth-of-type(2) .chart {
  max-width: 60%; /* Adjust the max-width as needed */
}

.info {
  margin: 20px 0;
  width: 80%;
}

.slider-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.slider {
  width: 60%;
  margin-top: 10px;
}